:root {
    --accent-color: #404BBF;
    --primary-font: 'Roboto',   sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
body {
    font-family: 'Roboto',  sans-serif;
    color: #434455;
}
.logo-web {
    color: #2E2F42;
}
.logo-web-footer {
        color: #f4f4fd;
}
.page-header {
        padding-top: 24px;
        padding-bottom: 24px;
}
.logo {
        font-family: inherit;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        margin-right: 76px;
}

.menu-link {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}
.contact-details {
        font-style: normal;
}

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address:hover,
.address:focus {
    color: var(--accent-color);
}
.hero {
        background-color: #2e2f42;
        padding-top: 188px;
        padding-bottom: 188px;
}
.page-title {
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF; 
        max-width: 498px;
        margin: 0 auto;
}
.modal-btn {
        min-width: 169px;
        height: 56px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        background-color: #4D5AE5;
         color: #FFFFFF; 
         cursor: pointer;
         display: block;
         margin: 0 auto;
        border-color: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin-top: 48px;
}
.modal-btn:hover,
madal-btn:focus {
background-color: var(--accent-color);
color: #FFFFFF;
}

.functional {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2E2F42;
}
.functional-description {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.our-work {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        margin-bottom: 72px;
}
.team {
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        margin-bottom: 72px;
}
.footer-section {
        background-color: #2e2f42;
}
.specialists {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.job-title {
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.02em;
        color: #434455;
}
.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #E7E9FC;
}
.modals-btn {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: #4D5AE5;
        cursor: pointer;
}

.modals-btn:hover,
madals-btn:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}
.functional-top-list {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.functional-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6
p {
        margin-top: 0;
        margin-bottom: 0;
}
ul,
ol {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
}
img {
        display: block;
}
.container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
}
.page-header-container {
        display: flex;
}
.menu {
        display: flex;
}
.navigation {
        display: flex;
        align-items: center;
        margin-right: auto;
}
.page-header-container {
        display: flex;
}
.contakt-container {
        display: flex;
        gap: 40px;
}
.menu {
        gap: 40px;
}
.features-top-list {
        display: flex;
        gap: 24px;
        padding-top: 120px;
        padding-bottom: 120px;
}
.our-work-container {
        display: flex;
        gap: 24px;
        padding-bottom: 120px;
}
.team-list-top {
        display: flex;
        gap: 24px;
}
.team-container {
        background-color: #F4F4FD;
        padding-top: 120px;
        padding-bottom: 120px;
}
.team-top-container {
        background-color: #FFFFFF;
        padding: 32px 16px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
}
.footer-section {
 padding-top: 100px;
 padding-bottom: 100px;
 padding-left: 156px;
 padding-right: 1020px;
}
.footer-container {
     width: 300px;
}
.page-header {
        border-bottom: 1px solid #E7E9FC;
}